/* Claire's ugly (?) palette
https://coolors.co/f15025-ffffff-e6e8e6-ced0ce-191919
*/
body {
  font-family: 'Karla';
}

h1 {
  font-family: 'Montserrat';
  text-transform: uppercase;
}

a, a:active {
  text-decoration: none;
}

.content {
  position: relative;
  margin-top: 6rem;
  padding: 0 2rem;
}

.sticky-nav {
  background-color: #F15025;
  z-index: 150;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-item-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center; 
}

.nav-item, .nav-item:visited, .nav-item:active, .navbar-brand, .navbar-brand:visited, .navbar-brand:active {
  font-family: 'Montserrat';
  color: #FFFFFF;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  text-decoration: none;
}

.nav-item:hover {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FFFFFF;
  color: #F15025;
}

.glyphicon {
  color: #FFFFFF;
}

.navbar {
  background-color: #F15025;
  border-color: #d5380e;
  color: #bd320c;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:hover {
  background-color: #d5380e;
  color: #e6e8e6;
}

.navbar-default .navbar-nav li a {
  color: #E6E8E6;
}

.navbar-default .navbar-nav li a:hover {
  background-color: #ed3e0f;
  color: #e6e8e6;
}

.navbar-default .navbar-toggle {
  background-color: #f15025;
  border-color: #d5380e;
}

.navbar-default .navbar-toggle:hover {
  background-color: #ed3e0f;
}

.navbar-default .navbar-toggle:active {
  background-color: #d5380e;
}

/* Responsive navbar? */
@media screen and (min-width: 670px) {
  /* Do things here to make navbar nice */


}












