---
layout: main
---
<h1>2WebsitE - Residents and Friends</h1>

<h2 class="heading">Residents</h2>
<hr style="margin: 0"/>
{% for year in site.data.people.residents %}
  <h3 class="section-heading">{{ year.year }}'s</h3>
  <div class="resident-bios">
    {% for person in year.people %}
      <div class="bio">
        <img src="img/people/{{ year.year }}/{{ person.kerberos }}.jpg" title="{{ person.kerberos }}" class="img-thumbnail" onerror="this.onerror = null; this.src = 'img/people/nopic-gourd.png'"/>
        <h3>{{ person.name }} ({{ person.kerberos }}), '{{ year.year | slice: 2, 2 }}</h3>
        <h4> Course {{ person.course }} </h4>
        <p>{{ person.description | newline_to_br | markdownify }}</p>
      </div>
    {% endfor %}
  </div>
{% endfor %}

<h2 class="heading">Alums</h2>
<hr class="bio-divider"/>
{% for year in site.data.people.alums %}
<h3 class="section-heading">{{ year.year }}'s</h3>
<div class="resident-bios">
  {% for person in year.people %}
  <div class="bio">
    <img src="img/people/{{ year.year }}/{{ person.kerberos }}.jpg" title="{{ person.kerberos }}" class="img-thumbnail" onerror="this.onerror = null; this.src = 'img/people/nopic-gourd.png'"/>
    <h3>{{ person.name }} ({{ person.kerberos }}), '{{ year.year | slice: 2, 2 }}</h3>
    <h4> Course {{ person.course }} </h4>
    <p>{{ person.description | newline_to_br | markdownify }}</p>
  </div>
  {% endfor %}
</div>
{% endfor %}

<h2 class="heading">Friends</h2>
<hr class="bio-divider"/>
<div class="resident-bios">
  {% for person in site.data.people.friends %}
  <div class="bio">
    <img src="img/people/friends/{{ person.kerberos }}.jpg" title="{{ person.kerberos }}" class="img-thumbnail" onerror="this.onerror = null; this.src = 'img/people/nopic-gourd.png'"/>
    <h3>{{ person.name }} ({{ person.kerberos }}), '{{ person.year | slice: 2, 2 }}</h3>
    <h4> Course {{ person.course }} </h4>
    <p>{{ person.description | newline_to_br | markdownify }}</p>
  </div>
  {% endfor %}
</div>

<h2 class="heading">King Gourd</h2>
<hr class="bio-divider"/>
<div class="resident-bios">
  <div class="bio">
    <img src="img/people/gourd.jpg" title="gourd" class="img-thumbnail"/>
    <h3>King Gourd (kgourd), '15</h3>
    <h4> Course 23 </h4>
    <p>King Gourd humbly overlooked the masses of 2E, 2015-2015. He will be missed, though his portrait remains
      in his honor. </p>
  </div>
</div>
