---
layout: main
---
<h1>2WebsitE - Projects</h1>
<p class="lead">All-Wing:</p>

<div class="row">
  {% for project in site.data.projects.allwing %}
  {% include project.html project=project %}
  <!-- if last column in row -->
  {% assign remainder = forloop.index | modulo:3 %}
  {% if remainder == 0 and forloop.last == false %}
</div>
<div class="row">
  {% endif %}
  {% endfor %}
</div>

<hr class="m-y-2">

<h2>Individual Projects</h2>

<div class="row">
  {% for project in site.data.projects.individual %}
  {% include project.html project=project %}
  <!-- if last column in row -->
  {% assign remainder = forloop.index | modulo:3 %}
  {% if remainder == 0 and forloop.last == false %}
</div>
<div class="row">
  {% endif %}
  {% endfor %}
</div>